/* Estilos generales de la aplicación */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Configuración básica para el body */
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background-color: #f7f7f7; /* Color de fondo predeterminado */
}

/* Estilo general para las secciones de productos y clientes */
.section {
  margin: 20px;
  padding: 10px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

/* Ajuste para las listas con scroll */
.clientes-list, .productos-list {
  max-height: 180px; /* 3 elementos visibles antes del scroll (3 * 60px) */
  overflow-y: auto; /* Activar desplazamiento vertical */
  padding-right: 10px; /* Espacio para la barra de desplazamiento */
}

/* Estilo de los ítems en la lista de clientes y productos */
.cliente-item, .producto-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px; /* Altura de cada ítem */
}

.cliente-actions, .producto-actions {
  display: flex;
  gap: 10px;
}

/* Botones de eliminar y editar */
.delete-button, .edit-button {
  background: none;
  border: none;
  cursor: pointer;
}

.delete-button:hover, .edit-button:hover {
  color: red;
}

/* Estilo personalizado para el botón + */
.btn-plus {
  font-size: 2rem;  /* Tamaño grande del símbolo + */
  color: white;     /* Hacer que el símbolo + sea blanco */
  width: 60px;      /* Establece el tamaño del botón */
  height: 60px;     /* Establece el tamaño del botón */
  border-radius: 50%; /* Hace el botón circular */
  display: flex;    /* Usamos Flexbox para centrar el contenido */
  justify-content: center; /* Centrado horizontal */
  align-items: center;     /* Centrado vertical */
  padding: 0;              /* Sin padding extra */
  font-weight: bold;       /* Símbolo + en negrita */
  border: none;            /* Elimina el borde predeterminado */
  background-color: #333;  /* Fondo oscuro */
}

.btn-plus:hover {
  background-color: #444;  /* Color más oscuro al pasar el mouse */
}
